### Import library

In [1]:
import pandas as pd                   
import matplotlib.pyplot as plt        
import seaborn as sns           
from sklearn.linear_model import LinearRegression

### Prepare Data

In [2]:
train_features = pd.read_csv('train_features.csv')
train_labels = pd.read_csv('train_labels.csv')
train_labels = train_labels.Survived

test_features = pd.read_csv('test_features.csv')
test_labels = pd.read_csv('test_labels.csv')
test_labels = test_labels.Survived
test_features

,Pclass,Sex,Age,Fare,Family_size,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Officer,...,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
0,3,1,29.699118,15.2458,2,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,2,1,31.000000,10.5000,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,3,1,20.000000,7.9250,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,2,0,6.000000,33.0000,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,3,0,14.000000,11.2417,1,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,3,1,17.000000,7.1250,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
175,3,1,29.699118,7.2250,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
176,3,0,38.000000,31.3875,6,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
177,2,0,17.000000,10.5000,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
178,3,0,4.000000,16.7000,2,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1

### Train model

In [3]:
lr = LinearRegression().fit(train_features[['Age']].values, train_features['Fare'].values)
print(
    'Score on training data: ' 
    + str("{:.2%}".format(lr.score(train_features[['Age']].values, train_features['Fare'].values))))

Score on training data: 0.71%

In [4]:
lr.intercept_, lr.coef_

(22.618560104548543, array([0.33745142]))

### Test model

In [5]:
print(
    'Score on training data: ' 
    + str("{:.2%}".format(lr.score(test_features[['Age']].values, test_features['Fare'].values))))

Score on training data: 1.46%

In [6]:
lr.predict(test_features[['Age']].values)

array([32.64056945, 33.07955404, 29.36758845, 24.64326861, 27.34287995,
       31.39229695, 32.64056945, 28.01778278, 28.01778278, 29.03013703,
       35.10426254, 37.46642247, 32.64056945, 32.74210262, 34.76681113,
       28.01778278, 36.79151963, 32.64056945, 31.72974837, 38.47877672,
       30.71739412, 34.09190829, 29.03013703, 29.36758845, 32.64056945,
       25.99307428, 36.1166168 , 33.07955404, 23.96836577, 33.07955404,
       29.03013703, 30.04249129, 32.64056945, 32.64056945, 28.69268562,
       31.72974837, 32.06719979, 32.64056945, 32.74210262, 32.64056945,
       29.70503987, 32.40465121, 32.64056945, 32.64056945, 37.80387388,
       28.01778278, 29.03013703, 30.3799427 , 30.71739412, 42.19074231,
       24.30581719, 40.1660338 , 36.1166168 , 26.33052569, 44.55290223,
       28.69268562, 33.41700546, 39.49113097, 34.42935971, 29.03013703,
       29.70503987, 27.00542853, 32.06719979, 32.64056945, 32.64056945,
       41.85329089, 29.70503987, 32.40465121, 28.3552342 , 40.1660338 ,
       31.39229695, 28.69268562, 31.39229695, 35.77916538, 30.3799427 ,
       34.76681113, 32.91082833, 30.04249129, 35.44171396, 36.45406821,
       28.01778278, 32.40465121, 36.1166168 , 32.64056945, 41.51583947,
       46.57761073, 33.07955404, 32.74210262, 35.44171396, 32.64056945,
       25.65562286, 25.65562286, 43.20309656, 32.64056945, 32.64056945,
       32.06719979, 38.81622813, 37.80387388, 34.76681113, 31.72974837,
       44.21545081, 34.42935971, 29.03013703, 35.44171396, 32.91082833,
       31.05484554, 36.1166168 , 38.47877672, 32.74210262, 36.1166168 ,
       32.64056945, 29.53631416, 32.64056945, 34.76681113, 32.64056945,
       29.36758845, 46.57761073, 34.76681113, 30.04249129, 38.81622813,
       30.3799427 , 33.41700546, 43.87799939, 22.89864478, 31.05484554,
       34.42935971, 39.15367955, 30.71739412, 32.64056945, 29.70503987,
       32.64056945, 32.64056945, 32.64056945, 24.30581719, 39.15367955,
       27.68033136, 32.64056945, 32.40465121, 36.79151963, 28.69268562,
       29.70503987, 37.46642247, 32.06719979, 35.10426254, 35.77916538,
       34.09190829, 32.74210262, 44.89035365, 32.64056945, 37.12897105,
       32.64056945, 30.71739412, 28.69268562, 32.64056945, 32.64056945,
       32.64056945, 32.64056945, 32.64056945, 34.76681113, 33.41700546,
       30.54866841, 32.64056945, 35.77916538, 32.64056945, 32.64056945,
       44.55290223, 30.3799427 , 32.64056945, 30.04249129, 34.42935971,
       30.3799427 , 28.69268562, 34.76681113, 25.65562286, 28.3552342 ,
       32.64056945, 35.44171396, 28.3552342 , 23.96836577])